# macOS 시스템 파일
.DS_Store
.AppleDouble
.LSOverride

# 아이콘 파일
Icon

# 썸네일
._*

# 볼륨 루트에 있을 수 있는 파일
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# 원격 디스크 공유에서 생성될 수 있는 디렉토리
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# 로그 파일
*.log

# 실행 로그
/logs 